.inner {
  width: 95%;
  margin: 0 auto;
}
.products-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.sidebar-menu {
  .item {
    margin-bottom: 2rem;
  }
}
.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.product-image {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 175px;
  background: rgba(0, 0, 0, 0.8);
  img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  &:hover {
    img {
      opacity: 0.5;
    }
    svg {
      opacity: 1;
    }
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: brown;
    padding: 0.5rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    opacity: 0;
    transition: 0.3s;
  }
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  .name {
    text-transform: capitalize;
    font-size: 1rem;
  }
  .price {
    font-size: 1rem;
    color: rgb(144, 84, 5);
  }
}

.categories {
  .category {
    text-transform: capitalize;
    color: gray;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .category.active {
    text-decoration: underline;
  }
}
.companies {
  select {
    text-transform: capitalize;
  }
  .company {
    color: gray;
    cursor: pointer;
  }
}

.colors {
  .wrapper {
    display: flex;
    align-items: center;
  }
  button {
    border: none;
    cursor: pointer;
  }
  .all-color {
    background: none;
    text-transform: capitalize;
    &:hover {
      text-decoration: underline;
    }
  }
  .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 0.2rem;
    opacity: 0.5;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  .all-color.active {
    text-decoration: underline;
  }
  .color.active {
    opacity: 1;
  }
}
